html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
background-color: #185C72;
border: 1px solid white;
}

.nav-item{
padding: 5px;;
}
@media screen and (max-width:1220px) {
nav h4 {
  display: none;
}

}
nav h4{
color: #185C72;
}
nav button {
border-radius: 10px;
border: 1px solid white;
}
nav svg {
width: 30px;
}
nav div img {
width: calc(45%);
height: 150px;
}
a:hover{
      background-color: white;
      opacity: 60%;
  }
  button:hover{
    background-color: white;
    opacity: 60%;
}

.card {
 margin-bottom: 10px;
 font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

input {
padding: 2px;
outline: none;
}

.card {
border-radius: 16px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background-image: linear-gradient(white, white);
color: #185C72;
}

.card img {
  border: #185C72 solid 2px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}



nav {
  background-color:#185C72 ;
  color:white;
}



nav {
  display: flex;
  width: calc(100%);
  padding: 10px;
  background-color:#185C72 ;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  border: 1px solid white;
}



main {
  border: 3px solid white;
 background-color:#185C72;
  color: white;
  font-family: Arial;
}
aside {
  display: block;
  width: calc(50%);
  background-color:#185C72;
  padding-left: 50px;
  padding-top: 50px;
  font-size: 50px;
}
aside h1{
  height: calc(35%);
}
aside h2 {
  padding-top: 50px;
}
aside button {
  padding-top: 30px;
}


.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input[type=text] {
  padding: 5px;
  width: 200px;
}

.search-container button {
  padding: 5px 10px;
}
  
.filter-container {
  margin-bottom: 20px;
  text-align: center;
}

button {
  margin:10px;
  height: 40px;
  padding-top: 20px;
  background-color: white;
  color:#185C72;
}


@media screen and (max-width:1080px) and (min-width:992px){
  nav {
      border:none;
  }
}