
header {
    display: flex;
    width: calc(100%);
    justify-content: space-between;
    padding: 10px;
    background-color:#185C72 ;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border: 2px solid white;
}
header img {
    width: calc(100%);
    height: 150px;
}
header .direita {
    width:calc(25% - 10px);
    margin:10px;
    padding-top: 30px;
}
header svg{
    padding:10px;
}
header h1{
    align-content: center;
    margin: 30px;
}

main {
    border: 2px solid white;
    width: calc(100%);
    height: 780px;
    display: flex;
    padding:10px;
    padding-top: 30px;
   background-color:#185C72;
    color: white;
    font-family: Arial;
}
aside {
    display: block;
    width: calc(50%);
    background-color:#185C72;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 50px;
}
aside h1{
    height: calc(35%);
}
aside h2 {
    padding-top: 50px;
}
aside a {
    padding-top: 30px;
}
section{
    width: calc(60%);
}
section img {
    width: calc(100%);
    height: calc(80%);
    border-radius: 40px;
}

@media screen and (max-width: 1073px) {
    header svg {
        display: none;
    }
    aside {
        display: flex;
        flex-wrap:wrap;
        height: calc(100%);
    }
    aside a {
        height: calc(10%);
        padding-top: 40px;
        margin-top: 40px;
    }
    header {
        height: calc(100%);
    }
}