header {
    display: flex;
    width: calc(100%);
    justify-content: space-between;
    padding: 10px;
    background-color:#185C72 ;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    border: 3px solid white;
}
header img {
    width: calc(100%);
    height: 150px;
}
header .direita {
    width:calc(25% - 10px);
    margin:10px;
    padding-top: 30px;
}
header svg{
    padding:10px;
}
header h1{
    align-content: center;
    margin: 30px;
}

body {
    background-color:#185C72 ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

main {
    width: calc(100%);
    background-color:#185C72 ;
}

main h3 {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

main div {
    text-align: center;
}

main button {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
main button:hover{
    background-color: white;
    opacity: 60%;
}
main #btnCarregaDados {
background-color:#00D1C5;
border: 3px solid white;
border-radius: 10px;
}
main #btnCadastrarProduto {
    background-color:#00D1C5;
    border: 3px solid white;
    border-radius: 10px;
}

main #btnLimparForms {
    background-color: #00D1C5;
    border: 3px solid white;
    border-radius: 10px;
}
main .btnAlterarProduto{
    background-color:#00D1C5;
    border: 3px solid white;
    border-radius: 10px;
}

main #btnSalvar {
    background-color: #00D1C5;
    border: 3px solid white;
    border-radius: 10px;
}

main .btnExcluirProduto{
    background-color: #00D1C5;
    border: 3px solid white;
    border-radius: 10px;
}



header {
    border: 1px solid rgb(255, 255, 255);
}
#caixa{
    border: 1px solid rgb(255, 255, 255);
}
#caixa2{
    border: 1px solid rgb(255, 255, 255);
}
#formProdutos #campoID {
    width: 350px;
}
#formProdutos #campoQtde {
    width: 359px;
}
#formProdutos #campoCompra {
    width: 390px;
}
#formProdutos #campoVenda {
    width: 405px;
}
#formProdutos #campoNome {
    width: 409px;
}

#formProdutos {
    margin: 10px;
    padding: 10px;

}
::placeholder {
    
    color:lightskyblue;

}
.tabela {
    width: 100%;
}

td, th {
    padding: 8px;
    height: 20px;
  }
  
  td {
    border: 2px solid #ddd;
  }
  
  th {
    width: 100%;
    border: 1px solid #ffffff;
    background-color: #1b1b1b;
    text-align: center;
  }
  div .hash {
    width: calc(5%);
  }
  div .qtde {
    width: calc(5%);
  }
  div .comp {
    width: calc(20%);
  }
  div .vend {
    width: calc(20%);
  }
  div .nam {
    width: calc(20%);
  } 
 
  div #msg {
    color: yellow;
  }
  div .alterar {
    width: calc(3%);
  }
  div .excluir {
    width: calc(3%);
  }