body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #185C72;
}
nav {
    background-color: #185C72;
    border: 2px solid white;
  }
  .nav-item{
   padding: 5px;;
  }
  @media screen and (max-width:1220px) {
    nav h4 {
      display: none;
    }
    
  }
  @media screen and (max-width:1080px) and (min-width:992px){
    nav {
        border:none;
    }
  }
  svg {
    color: rgb(0, 0, 0);
  }
  nav h4{
    color: #185C72;
  }
  nav button {
    border-radius: 10px;
    border: 1px solid white;
  }
  nav svg {
    width: 30px;
  }
  nav div img {
    width: calc(45%);
    height: 150px;
  }
  
a:hover{
        background-color: white;
        opacity: 60%;
    }
ul li {
    font-size: 25px;
}
main {
    width: calc(100%);
    height: 780px;
    display: flex;
    padding:10px;
    padding-top: 30px;
   background-color:#185C72;
    color: white;
    font-family: Arial;
}
aside {
    display: block;
    width: calc(50%);
    background-color:#185C72;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 50px;
}
aside h1{
    height: calc(35%);
}
aside h4 {
    padding-top: 10px;
}

section{
    width: calc(60%);
}
section iframe {
    width: calc(100%);
    height: calc(80%);
    border-radius: 40px;
}

@media screen and (max-width: 1073px) {
    .logo_site{
        width: calc(100%);
    }
    .direita {
        display: flex;
        flex-wrap: wrap;
    }
    main {
        display: block;
        width: calc(100%);
    }
    aside {
        display: block;
        width: calc(100%);
    }
    header {
        display: block;
        height: calc(100%);
    }
    header img {
        display: block;
        height: calc(60%);
        width: calc(100%);
    }
    section{
        width: calc(100%);
        height: calc(50%);
    }
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.popup {
    display: none; /* Oculta o pop-up por padrão */
    position: fixed; /* Posição fixa na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  }
  
  .popup-content {
    background-color: rgb(0, 0, 0);
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o pop-up */
  }
  
  .button {
    margin-top: 5px;
    position: relative;
  }

  header button {
    background-color:#ffffff;
    border-radius: 10px;
  }
  button:hover{
    background-color: white;
    opacity: 60%;
}

